<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %highlight{%-5level}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue, TRACE=bright_black} %-32c{1.} - %msg%n" disableAnsi="false"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Console"/>
        </Root>

        <Logger name="org.eclipse.aether" level="ERROR"/>
        <Logger name="org.apache.http" level="ERROR"/>
    </Loggers>
</Configuration>